<ion-view view-title="Playlist">
  <ion-content>
    <h1>Playlist</h1>
    <input type="button" value="testData" ng-click="getData()"/>
    {{remoteData}}
    <ul>
    	<li ng-repeat="item in remoteData">
    		{{item}}
    	</li>
    </ul>
  </ion-content>
</ion-view>
